Repository adfinis/mySAGW, changes with the owners that CODEOWNERS names for each.
All owners: @open-dynaMIX, @velrest, @yelinz

fix(advance-credits): use correct question slug for notiz-intern
  ember/app/gql/queries/get-case.graphql
  ember/config/environment.js
  next_deployment.md
Owners: none

fix: add correct email in application download footer
  api/mysagw/templates/application.docx
Owners: none

docs(work-items/controller): add comment on where identities are fetched
  ember/app/ui/work-items/controller.js
Owners: none

fix(ember): change permenent remark formatting
  ember/app/ui/cases/detail/index/controller.js
  ember/app/ui/cases/detail/index/template.hbs
  ember/config/environment.js
  ember/tests/unit/ui/cases/detail/index/controller-test.js
Owners: none

chore(api): update all dependencies
  .github/dependabot.yml
  api/poetry.lock
  api/pyproject.toml
Owners: @open-dynaMIX

chore: upgrade document-merge-service
  compose.yaml
Owners: none

chore(keycloak): update to v26.3.2
  compose.yaml
  keycloak/config.json
Owners: none

docs(work-items/controller): add comment on where identities are fetched
  ember/app/ui/work-items/controller.js
Owners: none

feat(case): remove idpId and idpIds filters and add identityIds filter
  api/mysagw/case/filters.py
  api/mysagw/case/tests/test_case_views.py
  api/mysagw/case/views.py
Owners: none

fix(ember): use id to filter identities
  api/mysagw/identity/filters.py
  ember/app/ui/cases/index/controller.js
  ember/app/ui/components/case-transfer/component.js
  ember/app/ui/components/filters/identity/component.js
  ember/app/ui/components/identity-form/component.js
  ember/app/ui/work-items/controller.js
  ember/app/utils/table-controller.js
Owners: none

fix: correct workflow after define-amount rejection
  caluma/data/workflow-config.json
  caluma/extensions/dynamic_tasks.py
  caluma/extensions/events/work_item.py
  caluma/extensions/tests/test_dynamic_tasks.py
  caluma/extensions/tests/test_events.py
  ember/app/ui/cases/detail/work-items/edit/form/controller.js
Owners: none

fix(ember): change permenent remark formatting
  ember/app/gql/queries/get-case.graphql
  ember/app/ui/cases/detail/index/controller.js
  ember/app/ui/cases/detail/index/template.hbs
  ember/config/environment.js
  ember/tests/unit/ui/cases/detail/index/controller-test.js
Owners: none

chore: trigger new release
  api/pyproject.toml
  caluma/version.txt
  compose.yaml
  ember/package.json
Owners: @open-dynaMIX, @velrest, @yelinz

fix: hyphenate labels in overview table
  ember/app/styles/app.scss
  ember/app/ui/cases/detail/index/template.hbs
Owners: none

chore: trigger FE release
  compose.yaml
  ember/package.json
Owners: @velrest, @yelinz

CODEOWNERS:

# general software maintenance
**/Dockerfile @open-dynaMIX @velrest @yelinz
docker-compose.yml @open-dynaMIX @velrest @yelinz
ember/* @velrest @yelinz
api/* @open-dynaMIX
